#document-edit-container {
    background-color: #ffffff;
    border-top: 1px solid #969696;
    border-left: 1px solid #969696;
    height: 100%;
    margin-top: 15px;
    display: block;
    overflow: scroll;
}