#edit-menu-container {
    display: flex;
    flex-direction: row;
    background-color: #edf2fa;
    gap: 10px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
}

.edit-option-icon {
    width: 20px;
    line-height: 0;
    display: flex;
    place-items: center;
}
.menu-separator {
    border-left: 1px solid #969696;
}

#document-edit-container {
    background-color: #ffffff;
    border-top: 1px solid #969696;
    border-left: 1px solid #969696;
    height: 100%;
    margin-top: 15px;
    display: block;
    /*align-items: stretch;*/
    overflow: scroll;
}