.edit-option-text{
    padding-left: 5px;
    padding-right: 5px;
}

.edit-option-text.selected, .edit-option-text:hover{
    background-color: #969696;
    border-radius: 4px;
}

.edit-option-text:hover{
    cursor: pointer;
}
