#edit-menu-container {
    display: flex;
    flex-direction: row;
    background-color: var(--color-4);
    gap: 3px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    margin-left: 18px;
    margin-right: 18px;
}

.menu-separator {
    border-left: 1px solid #969696;
}