#template-main h1{
    border-bottom: 2px solid #6d6d6d;
    margin-top: 20px;
    margin-bottom: 20px;
}

#template-main h2{
    margin-top: 15px;
    margin-bottom: 5px;
}

#template-main h3{
    margin-top: 10px;
    margin-bottom: 0px;
}

.add-element{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-element span{
    font-size: larger;
    font-weight: bold;
    background-color: #edf2fa;
    padding: 10px;
    line-height: 1;
    border-radius: 12px;
}

.add-element span:hover{
    cursor: pointer;
    background-color: #a1a4a8;
}

.delete-element:hover{
    background-color: #585858;
    cursor: pointer;
}

.delete-element{
    background-color: #edf2fa;
    padding: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bold;
    font-size: large;
    line-height: 1;
    border-radius: 10px;
    float: right;
    position: relative;
}
