#template-main {
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 700px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 14px;
}

#template-main p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.element-separator{
    border-bottom: 2px solid #6d6d6d;
}